<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>YAUS</title>
  </head>
  <body>
    <h1>YAUS: Yet Another URL Shortener</h1>
    <form>
      <label for="target">Target URL:</label>
      <input id="target" type="text" name="target" placeholder="https://google.com" required>
      <button id="submit" type="submit">Shorten</button>
    </form>

    <p id="output"></p>

    <script>
      (function() {
        document.getElementById('submit').addEventListener('click', function(e) {
          e.preventDefault();
          const target = document.getElementById('target').value;

          fetch('/create', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify({ target })
          }).then(res => {
            if (!res.ok) {
              if (res.status === 400) {
                throw new Error('Invalid target.');
              } else {
                throw new Error('Request failed. Please try again later.');
              }
            }

            return res.json();
          }).then(data => {
            const result = window.location.origin + '/' + data.slug;
            document.getElementById('output').innerHTML = `Result: <a href="${result}">${result}</a>`;
          }).catch(err => {
            document.getElementById('output').innerHTML = err.message;
          });
        });
      })();
    </script>
  </body>
</html>
