<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>YAUS</title>
  </head>
  <body>
    <h1>YAUS: Yet Another URL Shortener</h1>
    <form autocomplete="off">
      <label for="target">Target URL:</label>
      <input id="target" type="text" name="target" placeholder="https://google.com" required>
      <button id="submit" type="submit">Shorten</button>
    </form>

    <p id="output"></p>

    <script>
      (function() {
        document.getElementById('submit').addEventListener('click', function(e) {
          e.preventDefault();
          const target = document.getElementById('target').value;

          fetch('/create', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify({ target })
          })
            .then(res => res.json())
            .then(data => {
              const target = document.getElementById('output');

              if ('message' in data) {
                target.innerHTML = data.message;
                return;
              }

              const result = window.location.origin + '/' + data.slug;
              document.getElementById('output').innerHTML = `Result: <a href="${result}" target="_blank">${result}</a>`;
            });
        });
      })();
    </script>
  </body>
</html>
